<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <caching>
      <profiles>
         <!--<add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="x-original-url" />-->
      </profiles>
    </caching>
    <rewrite>
      <rules>
        <!--<rule name="https redirect" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="OFF" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{UNENCODED_URL}" redirectType="Permanent"  />
        </rule>-->
        <rule name="WordPress URL rewrite" patternSyntax="Wildcard">
          <match url="*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php"/>
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>